body {
    margin: 0 auto;
}

.header {
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: #6D2CFF;
    padding: 5px;
    width: 100%;
    box-shadow: 0 0 10px rgb(139, 139, 139);
}

i {
    color: white;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    margin: 0px;
    margin-right: 20px;
}

.header-menu {
    margin: 15px;
    list-style: none;
    color: white;
    font-size: 13px;
}

.iot-video {
    display: flex;
    justify-content: center;
    position: relative;
}

.iot {
    height: 100%;
    text-align: left;
    font-size: 20px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

video {
    border-radius: 40px;
    width: 50%; 
    height: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -150px;
}

.shop {
    display: flex;
}

.container-1 {
    display: flex;
    justify-content: center;
}

.container {
    display: block;
    text-align: center;
    margin-top: 200px;
}

.plan {
    margin-top: 60px;
}

h3 {
    margin-bottom: 10px;
}

.span {
    font-size: 12px;
    color: #1D1D1F;
}

.span-1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 80px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    color: #F5F5F7;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.footer-1 {
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.point {
    font-size: 15px;
    font-weight:bold;
}

li {
    list-style: none;
    margin: 15px;
    font-size: 12px;
}

.p {
    margin-top: 50px;
}

p {
    margin-bottom: 20px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #F5F5F7;
}

.header-menu:hover {
    padding: 10px;
    border-radius: 40px;
    background-color: #ffffff;
    color: #1D1D1F;
}